@import url(public.css);
.header{
	
	height: 45px;
	
	background: #ffbb00;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
}
.header .back{
	float: left;
	font-size: 25px;
	line-height: 45px;
}
.header ul{
	float: right;
}
.header ul li{
	float: left;
	padding-right: 15px;
}
.header .button{
font-size: 25px;
	line-height: 45px;
}
.container{
	background: rgba(0,0,0,0.1);
	/*padding-top: 45px;*/
	/*height: 400px;*/
	position: absolute;
	margin: auto;
    top: 45px;
    right: 0;
    bottom: 0;
    left: 0;
    overflow:auto;
}
.container-inner{

}

.contacts{
	padding:0 22px 0 5px;
	border-sizing:border-box;
}
.contacts dt{
	height: 20px;
	background: #bbaaaa;
	z-index: 10;
	margin-top: -2px;
}
.contactsdd{
	padding: 10px 20px;
	border-bottom: 1px solid  black;
    position: relative;

}
.contacts a{
	position: absolute;
	z-index: 100;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.contacts .name{
	padding: 5px;
}
.contacts .phone{
 opacity: 0.5;
 font-size: 10px;
 padding: 5px ;
}
.findlist{
	width: 20px;
	height: 90%;
	
	position: fixed;
	
	margin: auto;
	top: 0;
	right: -387px;
	bottom: 0;
	left: 0;
	background: #999;
}
.findlist li{
	padding: 4px ;
}

.tips{
	display: none;
	width: 414px;
	height:736px;
	/*background: rgba(255,255,255,0.8);*/
	background: #000;
	/*border: 3px solid yellow;*/
	position: absolute;
	z-index: 222;
   float: left;
}
.tips .tips-content{
	position: absolute;
	top: 50px;
	padding: 30px;
	box-sizing:border-box;
	width: 100%;
	height:70%;
	background: white;
	


}
.tips-content li{
     padding: 10px;
}
.tips-content .avatar{
	width: 70px;
	height: 70px;
	border-radius: 50%;
	border: 1px solid black;
}
.operation{
	text-align: center;
}
.operation li{
	display: inline-block;
}
.cancle,.done,.delete{
	padding: 10px;
	display: inline-block;
	background: rgb(34,224,54);
}
